{% extends "base.html" %}
{% include 'add_survey_modal.html' %}
{% block title %}{{config['FLASK_APP_BRAND']}}{% endblock %}
{% block content %}
 <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addSurveyModal" href="#">Add Survey</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Survey ID</th>
      <th scope="col">Active</th>
      <th scope="col">Persistant</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys %}
    <tr>
      <td><a href="{{url_for('survey_detail', id=survey.survey_id)}}">{{ survey.name }}</a></td>
      <td>{{ survey.survey_id }}</td>
      <td>{% if survey.active == True %}<span class="glyphicon glyphicon-ok" style="color:green"></span> {% else %} <span class="glyphicon glyphicon-remove" style="color:darkred"></span> {% endif %}</td>
      <td>{% if survey.persistent == True %}<span class="glyphicon glyphicon-ok" style="color:green"></span> {% else %} <span class="glyphicon glyphicon-remove" style="color:darkred"></span> {% endif %}</td>
      <td><form onsubmit="return confirm('Do you really want to delete the survey?');"  method="POST" action="{{ url_for('delete_survey', id=survey.id) }}"><button type="submit">Delete</button></form></td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block add_survey_modal %}
{% endblock %}
